/target
/bin
/.settings
/.classpath
/.project
/log

disconf.properties
log4j.properties
/.idea
.idea
*.iml 

disconf/download
src/main/resources/jdbc.properties
src/main/resources/mq.properties
src/main/resources/redis.properties
src/main/resources/redis.yaml
src/main/resources/spring-cache.yaml
.tern-project